.env
.cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.idea/
.vscode/
*.swp
*.bak
model/saved/*.h5
model/saved/*.pkl
data/emotion_data.csv
.streamlit/
